table {
    display: table;
    border-collapse:collapse;
    border-spacing:2px;
    width: 400px;
}

caption {
    padding: 5px;

}

tbody tr:nth-child(odd) {
    background:lightblue;

}

th {
    color:blue;
    text-align: center;
    background-color:lightgray;
    
}

table, th, td {
    border: 3px solid #999;
    padding: 0.5 rem;
}

